/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Josefin Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::selection {
    background: #f3db2d;
}

a, a:visited, a:active {
    color: white;
    text-decoration: none;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: white;
}

code {
    font-family: monospace;
    background: #222;
    color: #ccc;
    padding: 4px;
    border-radius: 2px;
}

body {
    background: #fafafa;
    width: 100vw;
    overflow-x: hidden;
}

main {
    min-height: 100vh;  
    display: grid;
    grid-gap: 0;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas: 
        "header"
        "contact"
        "about"
        "feature"
        "footer";
        
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #222;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

#header-img {
    height: 70px;
    padding: 0 30px;
}

nav {
    padding: 0 30px;
}

.nav-list {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#about {
    grid-area: about;
    min-height: calc(100vh - 80px);
    width: 100vw;
    padding-top: 80px;
    margin-top: -80px;
    background: #f4f4f4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    z-index: 2;
}

.text-side {
    padding: 80px;
    text-align: justify;
}

#video {
    width: 600px;
    box-shadow: 0 0 5px 2px black;
    object-fit: contain;
}

#feature {
    grid-area: feature;
    min-height: calc(100vh - 80px);
    width: 100vw;
    padding-top: 80px;
    margin-top: -80px;
    background: darkcyan;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: start;
    justify-items: center;
    text-align: left;
}

#contact {
    z-index: 3;
    width: 100vw;
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-area: contact;
    align-items: center;
    justify-items: center;
    color: #fafafa;
    font-size: 3rem;
}

.text-left-col {
    padding: 40px 0 0 40px;
}

.text-center-col {
    padding-top: 40px;
}

.text-right-col {
    padding: 40px 40px 0 0;
}

.text-right-col > img {
    width: 100%;
    box-shadow: 0 0 8px 1px black;
}


#form {
    background-color: #222222cc;
    padding: 10px;
}

footer {
    background: #222;
    color: #ccc;
    grid-area: footer;
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media(max-width: 950px) {
    #contact {
        font-size: 2rem;
    }
}

@media(max-width:768px) {
    
    #about {
        grid-template-rows: repeat(auto, auto);
        grid-template-columns: 1fr;
        padding-bottom: 80px;
    }
    #feature {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, auto);
    }
    .text-left-col {
        padding: 40px 0 0 0;
        width: 80%;
    }
    
    .text-center-col {
        padding: 0;
        width: 80%;
    }
    
    .text-right-col {
        padding: 0 0 80px 0;
        width: 80%;
    }

    #video {
        width: 100%;
    }
    
}

@media(max-width:425px) {
    #header {
        justify-content: space-around;
    }
    .nav-list {
        padding: 0;
        justify-content: space-around;
    }
    #header-img, #nav-bar {
        padding: 0;
    }
    #contact {
        font-size: 1rem;
    }
    .text-side {
        padding: 30px 0;
        width: 80%;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
